body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
  }

  .TituloPrincipal {
    color: red;
    font-size: 5em;
    margin: auto;
    width: max-content;
    font-weight:bold;
    text-shadow: 2px 4px 5px rgb(0, 0, 0);
  }

.Titulo {
    color:  rgb(255, 0, 0);
    width: max-content;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bolder;
    font-size: 3em;
  }
  
.Subtitulos {
    color: rgb(240, 88, 88);
    margin: auto;
    width: max-content;
    padding: 0.3em;
    font-weight: 1em;
    font-size: 1.5em;
}
.Logo {
 margin: auto;
 padding: 1em;
 width: min-content;

}

.Rubros {
    background-color: rgb(255, 0, 0);
    font-size: 1.5em;
    width: 40%;
    margin: 1em auto;
    border: 2px solid rgb(155, 0, 0);
    border-radius: 5px;
    padding: 1em;
    display: flex;
    flex-direction:row;
    justify-content: space-around;


}

.Rubro:hover {
    background-color: rgb(117, 241, 215);
}
.Rubro {
    border: 2px solid black;
    width: min-content;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    display: flex;
    gap: 2em;
    transition: 1s;
}

.Botones {
    border: 2px solid black;
    width: max-content;
    border-radius: 5px;
    margin: auto;
    padding: 0.5em;
    background-color: rgb(255, 0, 0);
    display: flex;
    transition: 1s;

}
.Botones:hover {
    background-color: aqua;
}
.TextoGrande {
    color: red;
    font-size: 1.2em;
    font-weight: bold;
    margin: auto;
    padding: 1em;

}
.Texto {
    color: black;
    font-size: 1em;
    font-weight: 300;
    margin: auto;
    padding: 10px;
}